@import '../libs/bootstrap-grid/bootstrap-grid.css';
.product {
  border: 1px solid #777;
  display: inline-block;
  font-size: 12px;
  margin: 15px;
  padding: 10px;
  position: relative;
  width: 300px;
  a {
    color: dodgerblue;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    p {
      color: #999;
    }
  }
  .button.primary {
    background: dodgerblue;
    border: none;
    border-radius: 0;
    bottom: 0;
    color: white;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    padding: 0 15px;
    position: relative;
    text-align: center;
    width: 100%;
    &:hover {
      background: #68b463;
    }
    &.added {
      &:before {
        content: "\f00c";
        font-family: FontAwesome;
        position: absolute;
        transform: translateX(-1.2em);
      }
    }
  }
  .details {
    .name {
      color: dodgerblue;
      font-size: 18px;
    }
    .from,
    .code {
      color: #bbb;
      font-size: 10px;
      line-height: 10px;
      margin: 0;
    }
  }
  .pricing {
    margin-top: 15px;
    .price {
      font-size: 10px;
      font-weight: normal;
      line-height: 10px;
      b {
        display: block;
        font-size: 24px;
        line-height: 24px;
      }
      &.member {
        color: mix(tomato, orange);
      }
      &.msrp {
        color: #777;
        display: none;
      }
    }
  }
  .description {
    margin-top: 15px;
  }
}

.preview>div{
  display: flex;
  height: 300px;
  img {
    object-fit: cover;
  }
}
#preview {
  .product {
    border: none;
    margin: 0 -15px;
    width: auto;
    a {
      &.button.primary {
        position: relative;
      }
    }
    .pricing {
      .price {
        display: inline-block;
        float: left;
        &.member {
          padding: 0 15px 0 0;
        }
        &.msrp {
          border-left: 1px solid #ccc;
          padding: 0 0 0 15px;
        }
      }
    }
    .options {
      clear: both;
    }
  }
}